# Bağımlılıklar (Node & Python)
node_modules/
venv/
env/
.pnp
.pnp.js

# Python Derleme Dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / Dağıtım Çıktıları
dist/
dist-ssr/
build/

# Ortam Değişkenleri ve Gizli Dosyalar
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Loglar
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE ve İşletim Sistemi Dosyaları
.idea/
.vscode/
.DS_Store
Thumbs.db